#{!isset($legacy) ? '<div id="table">' : '<table id="table">'}
	#{!isset($legacy) ? '<div class="tr">' : '<tr class="tr">'}
		#{!isset($legacy) ? '<h1 id="header" class="td">' : '<td id="header" class="td">'}
			:php
				echo CHtml::link(
					Yii::app()->name,
					//CHtml::image('/images/transparent.gif', Yii::app()->name),
					'/',
					array('id'=>'logo')
				);
		#{!isset($legacy) ? '</h1>' : '</td>'}
		-if(Yii::app()->user->isGuest):
			#{!isset($legacy) ? '<div id="register" class="td">' : '<td id="register" class="td">'}
				=CHtml::link('Register', array('/site/register'))
			#{!isset($legacy) ? '</div>' : '</td>'}
			#{!isset($legacy) ? '<div id="login" class="td">' : '<td id="login" class="td">'}
				=CHtml::link('Login', array('/site/login'))
			#{!isset($legacy) ? '</div>' : '</td>'}
		-else:
			#{!isset($legacy) ? '<div id="user" class="td">' : '<td id="user" class="td">'}
				=CHtml::link('Welcome, '.$user, array('/admin/user/view/id/'.urlencode(Yii::app()->user->getId())));
			#{!isset($legacy) ? '</div>' : '</td>'}
			#{!isset($legacy) ? '<div id="logout" class="td">' : '<td id="logout" class="td">'}
				=CHtml::link('Logout', array('/site/logout'))
			#{!isset($legacy) ? '</div>' : '</td>'}
		-endif
		#{!isset($legacy) ? '<div id="filters" class="td">' : '<td id="filters" class="td">'}
			%a(href="#")
				Filters
				%span
		#{!isset($legacy) ? '</div>' : '</td>'}
		#{!isset($legacy) ? '<div id="search" class="td">' : '<td id="search" class="td">'}
			#{!isset($legacy) ? '<div class="table">' : '<table class="table">'}
				#{!isset($legacy) ? '<div class="tr">' : '<tr class="tr">'}
					#{!isset($legacy) ? '<div class="td left">' : '<td class="td left">'}
						.input-text
							%input(title="Search" type="text")
							%span.placeholder Search
					#{!isset($legacy) ? '</div>' : '</td>'}
					#{!isset($legacy) ? '<div class="td right">' : '<td class="td right">'}
						=CHtml::linkButton('Search', array('class'=>'g-button'))
						%input(type="submit" value="Search")
					#{!isset($legacy) ? '</div>' : '</td>'}
				#{!isset($legacy) ? '</div>' : '</tr>'}
			#{!isset($legacy) ? '</div>' : '</table>'}
		#{!isset($legacy) ? '</div>' : '</td>'}
		#{!isset($legacy) ? '<div id="post" class="td">' : '<td id="post" class="td">'}
			=CHtml::link('Post a<br/>FREE Ad', array('/item/create'))
		#{!isset($legacy) ? '</div>' : '</td>'}
	#{!isset($legacy) ? '</div>' : '</tr>'}
	#{!isset($legacy) ? '<div class="tr filters hide">' : '<tr class="tr filters hide">'}
		#{!isset($legacy) ? '<div class="td">&#160;</div>' : '<td class="td">&#160;</td>'}
		#{!isset($legacy) ? '<div class="td">&#160;</div>' : '<td class="td">&#160;</td>'}
		#{!isset($legacy) ? '<div class="td">&#160;</div>' : '<td class="td">&#160;</td>'}
		#{!isset($legacy) ? '<div class="td filters-left">' : '<td class="td filters-left">'}
			%div \\&#160;
		#{!isset($legacy) ? '</div>' : '</td>'}
		#{!isset($legacy) ? '<div class="td filters-right">' : '<td class="td filters-right">'}
			%div \\&#60; Filters Here &#62;
		#{!isset($legacy) ? '</div>' : '</td>'}
		#{!isset($legacy) ? '<div class="td">&#160;</div>' : '<td class="td">&#160;</td>'}
	#{!isset($legacy) ? '</div>' : '</tr>'}
#{!isset($legacy) ? '</div>' : '</table>'}