#{!isset($legacy) ? '<div id="table">' : '<table id="table">'}
	#{!isset($legacy) ? '<div class="tr">' : '<tr class="tr">'}
		#{!isset($legacy) ? '<h1 id="header" class="td">' : '<td id="header" class="td">'}
			:php
				echo CHtml::link(
					Yii::app()->name,
					//CHtml::image('/images/transparent.gif', Yii::app()->name),
					'/',
					array('id'=>'logo')
				);
		#{!isset($legacy) ? '</h1>' : '</td>'}
		-if(Yii::app()->user->isGuest):
			.td#register =CHtml::link('Register', array('/site/register'))
			.td#login =CHtml::link('Login', array('/site/login'))
		-else:
			.td#user = CHtml::link('Welcome, '.$user, array('/admin/user/view/id/'.urlencode(Yii::app()->user->getId())));
			.td#logout =CHtml::link('Logout', array('/site/logout'))
		-endif
		.td#filters
			%a(href="#")
				Filters
				%span
		.td#search
			.table
				.tr
					.td.left
						.input-text
							%input(title="Search" type="text")
							%span.placeholder Search
					.td.right
						=CHtml::linkButton('Search', array('class'=>'g-button'))
						%input(type="submit" value="Search")
		.td#post =CHtml::link('Post a<br/>FREE Ad', array('/item/create'))
	#{!isset($legacy) ? '</div>' : '</tr>'}
	#{!isset($legacy) ? '<div class="tr filters hide">' : '<tr class="tr filters hide">'}
		.td \\&#160;
		.td \\&#160;
		.td \\&#160;
		.td.filters-left
			%div \\&#160;
		.td.filters-right
			%div \\&#60; Filters Here &#62;
		.td \\&#160;
	#{!isset($legacy) ? '</div>' : '</tr>'}
#{!isset($legacy) ? '</div>' : '</table>'}