:php
	$email=Yii::app()->db->createCommand()
		->select('email')
		->from('user_changeEmail')
		->where('user_id=:id',array(':id'=>$model->id))
		->queryScalar();
-if(!$email):
	#{$model->email} #{CHtml::link('change', array('email_change'))}
-else:
	<span>#{$email}</span> #{CHtml::link('re-verify', array('email_change_reverify'), array('class'=>'no-js'))}#{CHtml::ajaxLink('re-verify', array('email_change_reverify', 'ajax'=>true), null, array('class'=>'js'))}<br/>#{CHtml::link('cancel email change', array('email_change_cancel'), array('class'=>'no-js'))}#{CHtml::ajaxLink('cancel email change', array('email_change_cancel', 'ajax'=>true), array('update'=>'#user_account td.email'), array('class'=>'js'))}
-endif